<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyg.flowermanagement.mapper.OrderMapper">

    <resultMap type="com.lyg.flowermanagement.entity.Order" id="OrderMap">
        <id property="ordId" column="ord_id" jdbcType="INTEGER"/>
        <result property="commodity" column="commodity" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="totalPrice" column="total_price" jdbcType="NUMERIC"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="saveDate" column="save_date" jdbcType="TIMESTAMP"/>
        <association property="employee" column="emp_id"
                     select="com.lyg.flowermanagement.mapper.IEmployeeMapper.queryById"/>
        <association property="shop" column="shop_id"
                     select="com.lyg.flowermanagement.mapper.IShopMapper.queryById"/>
    </resultMap>
    <!--查询单个-->
    <select id="queryById" resultMap="OrderMap">
        select
          ord_id, shop_id, emp_id, commodity, price, quantity, total_price, name, tel, address, remarks, save_date
        from flowermanagement.order
        where ord_id = #{ordId}
    </select>
        <!--无条件查询所有-->
    <select id="selectAll" resultMap="OrderMap">
        select * from flowermanagement.order
    </select>
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OrderMap">
        select
          ord_id, shop_id, emp_id, commodity, price, quantity, total_price, name, tel, address, remarks, save_date
        from flowermanagement.order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="OrderMap">
        select
          ord_id, shop_id, emp_id, commodity, price, quantity, total_price, name, tel, address, remarks, save_date
        from flowermanagement.order
        <where>
            <if test="ordId != null">
                and ord_id = #{ordId}
            </if>
            <if test="shopId != null">
                and shop_id = #{shopId}
            </if>
            <if test="empId != null">
                and emp_id = #{empId}
            </if>
            <if test="commodity != null and commodity != ''">
                and commodity = #{commodity}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="quantity != null">
                and quantity = #{quantity}
            </if>
            <if test="totalPrice != null">
                and total_price = #{totalPrice}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="saveDate != null">
                and save_date = #{saveDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="ordId" useGeneratedKeys="true">
        insert into flowermanagement.order(ord_id,shop_id, emp_id, commodity, price, quantity, total_price, name, tel, address, remarks, save_date)
        values (#{ordId},#{shop.shopId}, #{employee.empId}, #{commodity}, #{price}, #{quantity}, #{totalPrice}, #{name}, #{tel}, #{address}, #{remarks}, #{saveDate})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update flowermanagement.order
        <set>
            <if test="shop.shopId != null">
                shop_id = #{shop.shopId},
            </if>
            <if test="employee.empId != null">
                emp_id = #{employee.empId},
            </if>
            <if test="commodity != null and commodity != ''">
                commodity = #{commodity},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="saveDate != null">
                save_date = #{saveDate},
            </if>
        </set>
        where ord_id = #{ordId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from flowermanagement.order where ord_id = #{ordId}
    </delete>

</mapper>